.table
{
    height: 50px;
}
.emptycell
{
    empty-cells: hide;
}
.tablerow
{
    width: 50px; 
    text-align: center;
}
.size
{
    margin-top: 20px;
    margin-left: 360px;
}
.table2r
{
    height: 40px;
}
.table2d
{
    width: 46px;
    text-align: center;
}

.color1
{
    background-color: #ff7141
}
.color2
{
    background-color: rgb(236, 230, 230);
}
.color3
{
    background-color: #ffe0b2
}
.color4
{
    background-color: #ffcc80
}
.color5
{
    background-color: #ffab91;
}
.color9
{
    background-color: #a6d6a8;
}
.color13
{
    background-color:#ffcdd3
}
.color21
{
    background-color: #e7ed9d
}
.color22
{
    background-color: #d2c5e9
}
.color89
{
    background-color: #b2e5fb
}

